apache-airflow-providers-google
apache-airflow-providers-http
apache-airflow-providers-postgres
pyarrow
pandas
sqlalchemy
apache-airflow[celery]==2.6.0
apache-airflow[postgres]==2.6.0
apache-airflow[google]==2.6.0
